<ion-header>
  <ion-toolbar>
    <ion-title>homeClient</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" >
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding">
  <h1>Bienvenido a PizzaYOLO</h1>
  <img src="../../../../assets/logo.png">
  <ion-card>
    
    <ion-card-content>
      <p>PizzaProject es un restaurante Italiano con un toque creativo.
        Servimos los clásicos platos italianos que nos encantan a todos, pero también nos gusta inspirarnos en los sabores
        que ofrecen otros países, creando platos únicos. La comida es uno de los placeres más grandes de la vida, ya sea
        preparándola o degustándola. Queremos ser un lugar donde puedan reunirse personas
        de todas las edades, con ocasión de disfrutar de una comida de primera calidad hecha con todo nuestro amor y arte.</p>
      <p>Estamos abiertos todos los días de 12:00 a 01:00 (La cocina cierra a las 00.00)</p>
    </ion-card-content>
  </ion-card>

  

</ion-content>
