list{
    margin-left: 2em;
    color:red;
    padding-left: 15%;
}

.trainerDetails{
    margin-left:2%;
}

ion-card-title{
    text-align: center;
    margin-top: 7%;
    font-size: 20px;
}

ion-card{
    margin-top: 20%;
    color:white;
    
}