<ion-header>
  <h1>Gestion de usuarios</h1>
  <ion-toolbar color="light">
    <nav>
      <a>Inicio</a>
      <a>Cuenta</a>
      <a class="este">Usuarios</a>
      <a>Contenido</a>
    </nav>
    
  </ion-toolbar>

</ion-header>

<ion-content pading>

  <ion-card>
    <ion-card-title>
      Actualización de usuario
    </ion-card-title>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" value="usuario@gmail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" value="Jose"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" value="Cuenca"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" value="usuario@gmail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repita contraseña</ion-label>
        <ion-input type="password" value="usuario@gmail.com"></ion-input>
      </ion-item>
      <ion-item class="busqeuda">
        <ion-label>Selecciona Rol</ion-label>
        <ion-select>
          <ion-select-option>Profesor</ion-select-option>
          <ion-select-option>Alumno</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="busqeuda">
        <ion-label>Selecciona Categoría</ion-label>
        <ion-select>
          <ion-select-option>Profesor</ion-select-option>
          <ion-select-option>Alumno</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>C://Images/perfil.jpg</ion-label>
        <ion-button>...</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button color="dark" class="asd">Actualizar</ion-button>
</ion-content>


