<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products-categories">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{pName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngFor="let cat of items">
      <div *ngFor="let product of cat.products">
        <ng-container *ngIf="product.name==pName">
          <img src="{{product.picture}}">
          <p class="item-desc" >{{product.description}}</p>
        </ng-container>
      </div>
  </div>
</ion-content>
